# Create SQLite Database from the 'sat_locations.csv' data

In [1]:
# Import dependencies
import numpy as np

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, Column, Float, String, MetaData, Table
import pandas as pd

In [ ]:
# Read in 'sat_locations.csv'
sat_locations_df = pd.read_csv('sat_locations.csv')
df.head()

In [2]:
# Create a SQLAlchemy engine that will connect to the SQLite database. It will create the database if it doesnt exist
engine = create_engine('sqlite:///SatelliteData.sqlite')

In [ ]:
# Define the table schema
metadata = MetaData()

# create the table named 'satellites' with the correct columns from 'sat_locations.csv'
satellites = Table('satellites', metadata,
    Column('Satellite_Name', String, primary_key=True),
    Column('Latitude', Float),
    Column('Longitude', Float),
    Column('Distance_from_Earth_Center_km', Float),
    Column('Distance_from_Earth_Surface_km', Float)
)

# Create the table in the database by using the metadata
metadata.create_all(engine)

In [ ]:
# Take the imported dataframe and put the data into the correct table in the SatelliteData.sqlite database
sat_locations_df.to_sql('satellites', engine, if_exists='replace', index=False)

In [3]:
# Test reading the data from from the database with a raw query
test_df = pd.read_sql("SELECT * FROM satellites", engine)
test_df.head(10)

,Satellite Name,Latitude,Longitude,Distance from Earth Center (km),Distance from Earth Surface (km)
0,Active,-34.928585,82.613740,7104.831958,733.831958
1,AE-C,-11.169291,72.150070,6568.678092,197.678092
2,AE-D,-5.791222,-124.893890,8369.291638,1998.291638
3,AE-E,-15.266993,110.649994,6543.071954,172.071954
4,AEROCUBE-6A,-43.780540,-63.022900,7048.082644,677.082644
5,AEROCUBE-6B,-54.947075,20.831232,7038.948390,667.948390
6,AIM,53.463700,-153.756800,6813.896675,442.896675
7,Akebono,-20.662525,143.353210,8742.650938,2371.650938
8,Alouette-1,54.259106,-162.322160,7401.778980,1030.778980
9,Alouette-2,66.927345,175.796600,7122.559475,751.559475